
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p> #5 token kullancm</p>
<p> #6 başlıklarımda sil calısmıyor</p>
<br />
<p>başlıklarda arama kutucuğu / paging </p>
<p>grafikler </p>
<p>gelen kutusunda arama </p>
<p>yetkilendirmeler </p>
<p>herhangi bir tablo raporlanacak </p>
<p>proje dosyaları sunucuya tasınacak</p>
<p>alan adı alınacak</p>
<p>canlıya tasınacak</p>
94.ders/



